@use '../abstracts/variables' as *;

%reset-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
}

%reset-lists {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

// ????