$main-color-regular: #323264;
$main-color-alt: #46466E;
$main-color-soft: #686887;

$accent-color: #F0145A;

$active-color-regular:#24A3FF;
$active-color-hover:#0085FF;
$active-color-active:#006CCF;

$grey-color-bg:#F5F5FA;
$grey-color-bgAlt:#EDEDF7;
$grey-color-text:#B3B3BA;
$grey-color-separator:#E6E6F0;