@use '../abstracts/variables' as *;

.langswitcher {
  display: flex;
  gap: 7px;

  &__language {
    padding: 5px 7px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;

    border-radius: 8px;

    transition: $baseAnimation;

    &:hover {
      color: #B3B3BA;
      background-color: #F5F5FA;
    }
  }

  .is-active_ua,
  .is-active_ru,
  .is-active_en {
    background-color: $accent-color;
  }
}

.burger {
  position: relative;

  width: 32px;
  height: 32px;
  padding: 0;

  background: transparent;
  border: none;
  border-radius: 8px;

  cursor: pointer;

  transition: $baseAnimation;

  &-icon {
    width: 100%;

    stroke: rgb(255, 255, 255);
  }

  &:hover {
    --burgerColor: #323264;
    background-color: #E6E6F0;
  }
}

.close {
  display: flex;
  width: 32px;
  height: 32px;
  padding: 0;

  background: transparent;
  border: none;
  border-radius: 8px;

  cursor: pointer;

  transition: all 0.1s linear;

  &-icon {
    width: 100%;

    --closeColor: #EC6F5D;
  }

  &:hover {
    background-color: #E6E6F0;
  }
}

.btn-scroll {
  width: 42px;
  height: 42px;
  padding: 0;

  background: transparent;
  border: 0;
  stroke: #fff;
  fill: none;

  transition: $baseAnimation;

  &_icon {
    width: 100%;
  }

  &:hover {
    stroke: $accent-color;

    cursor: pointer;
  }
}