@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

h1,
h2,
h3,
p,
span {
  margin: 0;

  color: #FFFFFF;
}

.primary_title {
  font-size: 38px;
  line-height: 46px;
  font-weight: 700;
  text-align: center;
}

.gradient_title {
  font-size: 30px;
  line-height: 37px;
  font-weight: 700;
  align-self: stretch;

  background: $redText-color-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @include tablet-sd {
    font-size: 38px;
    line-height: 46px;
  }
}

.header__contacts-adress {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: right;

  color: #B3B3BA;
}

.experience_title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;

  align-self: stretch;

  @include tablet-sd {
    font-size: 30px;
    line-height: 37px;
  }
}

.experience_text {
  font-size: 19px;
  line-height: 30px;
  font-weight: 400;
  align-self: stretch;
}

.comparison-card_title {
  font-size: 22px;
  line-height: 27px;
  font-weight: 700;

  color: $active-color-regular;
}

.comparison-card_text {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  align-self: stretch;
}

.clients-title {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: $main-color-regular;
}

.recommended-card_title {
  display: flex;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;

  color: $active-color-regular;
}

.recommended-card-date {
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #B3B3BA;
}

.recommended-card_describe {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;

  color: #000000;
  border-top: 4px solid #E6E6F0;
  ;
}

.is-active-item,
.is-active-item_cons,
.is-active-item_cust,
.is-active-item_inno,
.is-active-item_busi {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.suptitle {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: $active-color-regular;

  transition: $baseAnimation;

  &:hover {
    color: $accent-color;
  }

  &::after {
    content: "\02C3";
    margin-left: 5px;
  }
}

.full_name {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;

  color: #B3B3BA;
}

.job_title {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;

  color: #B3B3BA;
}